
.input-group.date .form-control:focus {
    background-color: #fff;
}


.datepicker {
    z-index: 1051;
}


.datepicker table {
    background-color: #fff;
    border-radius: 5px; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); 
}


.datepicker th {
    background-color: #007bff; 
    color: #fff; 
}


.datepicker th.prev,
.datepicker th.next {
    color: #fff;
}


.datepicker table tbody tr td.day.active,
.datepicker table tbody tr td.day.active:hover,
.datepicker table tbody tr td.day.active.disabled,
.datepicker table tbody tr td.day.active.disabled:hover {
    background-color: #007bff; 
    color: #fff; 
}


.datepicker table tbody tr td.today {
    background-color: #f0f0f0; 
    color: #333; 
}


.datepicker table thead tr:first-child th {
    color: #007bff; 
}


.datepicker table tfoot tr th.today,
.datepicker table tfoot tr th.today:hover,
.datepicker table tfoot tr th.clear,
.datepicker table tfoot tr th.clear:hover {
    background-color: #f0f0f0; 
    color: #333;
    border-top: 1px solid #ccc; 
}

.sortable-header {
    cursor: pointer;
  }
  