<ngx-spinner
  bdColor="rgba(0,0,0,0.5)"
  size="medium"
  color="#d81616"
  type="ball-pulse"
  [fullScreen]="true"
></ngx-spinner>

<div class="main-content-inner">
  <div class="header">
    <div class="">
      <!-- Body -->
      <div class="header-body align-items-center">
        <div class="row align-items-end">
          <div class="col">
            <!-- Pretitle -->
            <h6 class="header-pretitle">Overview</h6>

            <!-- Title -->
            <h1 class="header-title">Role-management</h1>
          </div>

          <div class="col-auto">
            <!-- Button -->
            <!--<a href="#!" class="btn btn-primary lift">
                  Create Report
                </a>-->
          </div>
        </div>
        <!-- / .row -->
      </div>
      <!-- / .header-body -->
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-6">
      <!-- <div class="input-group">
            
                <input type="text" name="searchTerm" [(ngModel)] ="searchTerm" class="form-control" placeholder="Search" (input)="search()">
                <div class="input-group-append">
                  <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
                </div>
        
              </div> -->
    </div>
    <div class="col-md-6 text-md-right mt-md-0 mt-3">
      <!-- <button class="btn btn-success"  data-toggle="modal" data-target="#exampleLongModalLong2"><i class="fa fa-user-plus" ></i> Create User</button> -->
      <button
        class="btn btn-dark ml-2"
        data-toggle="modal"
        data-target="#exampleLongModalLong3"
      >
        <i class="fa fa-user"></i> Create Role
      </button>
    </div>
  </div>

  <div class="row">
    <!-- Progress Table start -->
    <div class="col-12 mt-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card_title">Roles</h4>
          <div
            class="card-body"
            *ngIf="!filteredUserData?.roles?.length && !loading"
          >
            <div class="alert alert-dark text-center">
              No data to display at the moment
            </div>
          </div>
          <div class="single-table">
            <div class="table-responsive">
              <!-- Table contents here -->

              <table class="table table-hover progress-table text-center">
                <thead class="text-uppercase  red-table-head">
                  <tr>
                    <th>S/N</th>
                    <th
                      scope="col"
                      class="sortable-header"
                      (click)="sort('name')"
                    >
                      Role Name <i [ngClass]="getSortIcon('name')"></i>
                    </th>
                    <th
                      scope="col"
                      class="sortable-header"
                      (click)="sort('roleCategory')"
                    >
                      Role Category
                      <i [ngClass]="getSortIcon('roleCategory')"></i>
                    </th>
                    <th
                      scope="col"
                      class="sortable-header"
                      (click)="sort('roleDescription')"
                    >
                      Role Description
                      <i [ngClass]="getSortIcon('roleDescription')"></i>
                    </th>
                    <!-- <th scope="col" class="sortable-header" (click)="sort('merchantName')">Merchant <i [ngClass]="getSortIcon('merchantName')"></i></th>
                          <th scope="col" class="sortable-header" (click)="sort('roles')">Roles <i [ngClass]="getSortIcon('roles')"></i></th> -->
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody
                  class="list fs-base"
                  *ngIf="loading && filteredUserData?.roles?.length > 0"
                >
                  <tr *ngFor="let loop of [1, 2, 3, 4]">
                    <td>
                      <ngx-skeleton-loader
                        count="1"
                        [theme]="{ width: '25px' }"
                        appearance="line"
                      ></ngx-skeleton-loader>
                    </td>
                    <td>
                      <ngx-skeleton-loader
                        count="1"
                        appearance="circle"
                      ></ngx-skeleton-loader>
                      <span
                        style="
                          display: inline-block;
                          top: -13px;
                          position: relative;
                        "
                        ><ngx-skeleton-loader
                          count="1"
                          [theme]="{ width: '150px' }"
                          appearance="line"
                        ></ngx-skeleton-loader
                      ></span>
                    </td>
                    <td>
                      <ngx-skeleton-loader
                        count="1"
                        [theme]="{ width: '100px' }"
                        appearance="line"
                      ></ngx-skeleton-loader>
                    </td>
                    <td>
                      <ngx-skeleton-loader
                        count="1"
                        [theme]="{ width: '25px' }"
                        appearance="line"
                      ></ngx-skeleton-loader>
                    </td>
                    <td>
                      <ngx-skeleton-loader
                        count="1"
                        [theme]="{ width: '50px' }"
                        appearance="line"
                      ></ngx-skeleton-loader>
                      <br />
                      <ngx-skeleton-loader
                        count="1"
                        [theme]="{ width: '70px' }"
                        appearance="line"
                      ></ngx-skeleton-loader>
                    </td>

                    <td>
                      <div class="dropdown">
                        <a
                          class="dropdown-ellipses dropdown-toggle"
                          href="#"
                          role="button"
                          data-bs-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                        >
                          <i class="fe fe-more-vertical"></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                </tbody>
                <tbody>
                  <tr
                    *ngFor="
                      let data of filteredUserData?.roles
                        
                      let i = index
                    "
                  >
                  <td>{{ 10 * currentPage - (11 - i) }}</td>
                    <td style="font-size: 14px">{{ data?.name || 'N/A' }}</td>
                    <td style="font-size: 14px">{{ data?.roleCategory || 'N/A' }}</td>
                    <td style="font-size: 14px;">{{ data?.roleDescription || 'N/A'}}</td>


                    <!-- <td>500.00$</td> -->
                    <td>
                      <div class="dropdown">
                        <button
                          class="dropdown-ellipsis dropdown-toggle"
                          type="button"
                          id="dropdownMenuButton"
                          data-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                        ></button>
                        <div
                          class="dropdown-menu"
                          aria-labelledby="dropdownMenuButton"

                        >
                          <hr class="dropdown-divider" />
                          <a
                            class="dropdown-item text-primary"
                            (click)="confirmDeleteUser(data.name)"
                            href="javascript:;"
                            ><i class="ti-trash"></i> Delete</a
                          >
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <ngb-pagination
              [(page)]="currentPage"
              [pageSize]="pageSize"
              [collectionSize]="totalItems"
              (pageChange)="onPageChange($event)"
            ></ngb-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Progress Table end -->
  </div>
</div>

<!-- <app-view-users [selected]="selectedDetails"></app-view-users>
<app-create-users></app-create-users>
<app-create-organization></app-create-organization>
<app-change-password [selected]="selectedDetails"></app-change-password> -->

<app-create-role></app-create-role>
