<ngx-spinner
  bdColor="rgba(0,0,0,0.5)"
  size="medium"
  color="#d81616"
  type="ball-pulse"
  [fullScreen]="true"
></ngx-spinner>

<div class="gradient-form">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center vh-50">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">
                <div class="text-center">
                  <img src="assets/images/spen2.svg" alt="logo" />
                </div>

                <form [formGroup]="factorForm" class="mt-3">
                  <h4>Enter Two-factor</h4>
                  <p>
                    Enter your 6-digit two-factor code to gain access to the
                    dashboard.
                  </p>
                  <div class="otp-inputs justify-content-center">
                    <input
                      [style.border-color]="
                        factorForm.get('digit1')?.errors &&
                        (factorForm.get('digit1')?.touched ||
                          factorForm.get('digit1')?.dirty)
                          ? '#6F4183'
                          : ''
                      "
                      class="otp-input"
                      type="text"
                      formControlName="digit1"
                      maxlength="1"
                      #input1
                      (keyup)="
                        input1.value.length == 1
                          ? input2.focus()
                          : input1.focus()
                      "
                      pattern="[0-9]*"
                    />
                    <input
                      [style.border-color]="
                        factorForm.get('digit2')?.errors &&
                        (factorForm.get('digit2')?.touched ||
                          factorForm.get('digit2')?.dirty)
                          ? '#6F4183'
                          : ''
                      "
                      class="otp-input"
                      type="text"
                      formControlName="digit2"
                      maxlength="1"
                      #input2
                      (keyup)="
                        input2.value.length == 1
                          ? input3.focus()
                          : input1.focus()
                      "
                      pattern="[0-9]*"
                    />
                    <input
                      [style.border-color]="
                        factorForm.get('digit3')?.errors &&
                        (factorForm.get('digit3')?.touched ||
                          factorForm.get('digit3')?.dirty)
                          ? '#6F4183'
                          : ''
                      "
                      class="otp-input"
                      type="text"
                      formControlName="digit3"
                      maxlength="1"
                      #input3
                    
                      (keyup)="
                      input3.value.length == 1
                        ? input4.focus()
                        : input2.focus()
                    "
                      pattern="[0-9]*"
                    />
                    <input
                    [style.border-color]="
                    factorForm.get('digit4')?.errors &&
                    (factorForm.get('digit4')?.touched ||
                      factorForm.get('digit4')?.dirty)
                      ? '#6F4183'
                      : ''
                  "
                      class="otp-input"
                      type="text"
                      formControlName="digit4"
                      maxlength="1"
                      #input4
                    
                      (keyup)="
                      input4.value.length == 1
                        ? input5.focus()
                        : input3.focus()
                    "
                      pattern="[0-9]*"
                    />
                    <input
                    [style.border-color]="
                    factorForm.get('digit5')?.errors &&
                    (factorForm.get('digit5')?.touched ||
                      factorForm.get('digit5')?.dirty)
                      ? '#6F4183'
                      : ''
                  "
                      class="otp-input"
                      type="text"
                      formControlName="digit5"
                      maxlength="1"
                      #input5
                      (keyup)="
                      input5.value.length == 1
                        ? input6.focus()
                        : input4.focus()
                    "
                      pattern="[0-9]*"
                    />
                    <input
                    [style.border-color]="
                    factorForm.get('digit6')?.errors &&
                    (factorForm.get('digit6')?.touched ||
                      factorForm.get('digit6')?.dirty)
                      ? '#6F4183'
                      : ''
                  "
                      class="otp-input"
                      type="text"
                      formControlName="digit6"
                      maxlength="1"
                      #input6
                      (keyup)="
                      input6.value.length == 1
                        ? input6.focus()
                        : input5.focus()
                    "
                      pattern="[0-9]*"
                    />
                  </div>

                  <div class="text-center pt-1 mt-2 pb-1">
                    <button
                      class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3"
                      type="button"
                      (click)="submit()"
                      type="submit"
                      [disabled]="!factorForm.valid"
                    >
                      Proceed
                    </button>
                    <!-- <a class="text-muted" routerLink="/forgot-password">Forgot password?</a> -->
                    <!-- <div class="text-muted">Time remaining: {{ countdown }}</div> -->

                    <!-- <a style="cursor: pointer; font-size: 12px; font-style: initial;" class="text-mute mt-5" >didn't receive Otp?<b (click)="resendOtp()" class="text-danger"> click to Resend</b></a> -->
                  </div>
                </form>
              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">We are more than just a company</h4>
                <p class="small mb-0">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
