/* Adjusted CSS */
.gradient-custom-2 {

    background: #fccb90;

    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
  }

  .gradient-form{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  

  /* @media (min-width: 768px) {
    .gradient-form {
      height: 100vh;
      overflow: hidden;
      display: flex;
      align-items: center;
    }
  } */

  .otp-inputs {
    display: flex;
    gap: 5px; /* Adjust the gap as needed */
  }
  
  .otp-input {
    width: 40px; /* Adjust the width as needed */
    text-align: center;
    font-size: 25px;
    border: 1px solid black;
  } 
  

  


  