.sortable-header {
    cursor: pointer;
  }
  
  .active-status {
    color: green; 
  }
  
  .inactive-status {
    color: red; 
  }
  
  .unlocked-status {
    color: green; 
  }
  
  .locked-status {
    color: red; 
  }
  