/* Adjusted CSS */
.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  
    /* Border radius adjustment */
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
  }
  

  /* @media (min-width: 768px) {
    .gradient-form {
      height: 100vh;
      overflow: hidden;
      display: flex;
      align-items: center;
    }
  } */

  .otp-inputs {
    display: flex;
    gap: 5px; /* Adjust the gap as needed */
  }
  
  .otp-input {
    width: 40px; /* Adjust the width as needed */
    text-align: center;
    font-size: 25px;
    border: 1px solid red;
  }
  
  /* Example styles for the white container */
.white-container {
    display: flex;
    align-items: center;
    background-color: black;
    border: 1px solid #ccc;
    /* padding: 5px; */
    border-radius: 4px;
  }
  
  /* Example styles for the copy icon button */
  .copy-icon {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    margin-left: 5px;
    color: white; /* Change this to your preferred color */
  }


  
  /* Example styles for the Feather icon */
  .icon {
    width: 16px;
    height: 16px;
  }
  
  


  