<ngx-spinner
  bdColor="rgba(0,0,0,0.5)"
  size="medium"
  color="#d81616"
  type="ball-clip-rotate"
  [fullScreen]="true"
></ngx-spinner>

<section class="h-100 gradient-form">
    <div class="container py-5">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
                <div class="col-lg-6 d-flex align-items-center gradient-custom-2" >
                    <div class="text-white p-md-5 mx-md-4">
                        <h4>Setup authenticator app</h4>
                        <p>Please use your authentication app (such as Duo or Google Authuthenticator) to scan this QR code.</p>
                      <!-- <h4>Setup authenticator app</h4>
                        <p>Please use your authentication app (such as Duo or Google Authuthenticator) to scan this QR code.</p> -->
                        <hr>
    
                      <div class="text-center">
                        <div class="qr-code-container">
                            <img *ngIf="qrimg" [src]="qrimg" alt="QR Code for OTP setup">
                            <div *ngIf="!qrimg">Loading QR code...</div>
                            
                          </div> 

                         
                      </div>
                      <hr>
                      <p style="font-size: 12px;">you can click to copy the setup key below to configure your app</p>
                      <div class="mb-3">
                        <div class="mb-3">
                            <div class="white-container">
                              <div (click)="copyToClipboard(authdata?.setupCode)" style="font-size: 9px; cursor: pointer;">{{ authdata?.setupCode }}
                                <span *ngIf="isCopied" style="margin-left: 5px; color: green;">
                                    (Copied)
                                  </span></div>
                            
                            </div>
                          </div>
                          
                        
                      </div>
                      
                     
                    </div>
                   
                  </div>
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">
                  <div class="text-center">
                    <img
                      src="assets/images/spen2.svg"
                  
                      alt="logo"
                    />
  
                  </div>
  
                  <form [formGroup]="otpForm" class="mt-3">
                    <!-- <h4>Setup authenticator app</h4>
                    <p>Please use your authentication app (such as Duo or Google Authuthenticator) to scan this QR code.</p> -->
                    <hr>
  
                    <div class="otp-inputs justify-content-center">
                      <input
                        class="otp-input"
                        type="text"
                        formControlName="digit1"
                        maxlength="1"
                        placeholder=" _ "
                        #input1 (keyup)="(input1.value.length == 1) ? input2.focus() : ''"
                        pattern="[0-9]*"
                      />
                      <input
                        class="otp-input"
                        type="text"
                        formControlName="digit2"
                        maxlength="1"
                        placeholder=" _ "
                        #input2 (keyup)="(input2.value.length == 1) ? input3.focus() : ''"
                        pattern="[0-9]*"
                      />
                      <input
                        class="otp-input"
                        type="text"
                        formControlName="digit3"
                        maxlength="1"
                        placeholder=" _ "
                        #input3 (keyup)="(input3.value.length == 1) ? input4.focus() : ''"
                        pattern="[0-9]*"
                      />
                      <input
                        class="otp-input"
                        type="text"
                        formControlName="digit4"
                        maxlength="1"
                        placeholder=" _ "
                        #input4 (keyup)="(input4.value.length == 1) ? input5.focus() : ''"
                        pattern="[0-9]*"
                      />
                      <input
                        class="otp-input"
                        type="text"
                        formControlName="digit5"
                        maxlength="1"
                        placeholder=" _ "
                        #input5 (keyup)="(input5.value.length == 1) ? input6.focus() : ''"
                        pattern="[0-9]*"
                      />
                      <input
                        class="otp-input"
                        type="text"
                        formControlName="digit6"
                        maxlength="1"
                        placeholder=" _ "
                        #input6
                        pattern="[0-9]*"
                      />
                    </div>
  
  
                    <div class="text-center pt-1 mt-2 pb-1">
                      <button
                      (click)="enable2fa()"
                        class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3"
                        type="button"
                        type="submit"  [disabled]="!otpForm.valid"
                      >
                       Proceed
                      </button>
                      <!-- <a class="text-muted" routerLink="/forgot-password">Forgot password?</a> -->
                     
                    </div>
  
           
                  </form>
                </div>
              </div>
           
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
