
<ngx-spinner
bdColor="rgba(0,0,0,0.5)"
size="medium"
color="#d81616"
type="ball-clip-rotate"
[fullScreen]="true"
></ngx-spinner>

  <section class="h-100 gradient-form">
    <div class="container py-5">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">
                  <div class="text-center">
                    <img
                      src="assets/images/spen2.svg"
                  
                      alt="logo"
                    />
  
                  </div>
  
                  <form [formGroup]="resetForm" class="mt-3">
                    <h4>Reset Password</h4>
                    <p>Create and confirm password below</p>
  
                    <div class="form-outline mb-4">
                      <label class="form-label" for="form2Example11"
                        >Email</label
                      >
                      <input
                      
                        id="form2Example11"
                        class="form-control"
                        placeholder=" email address"
                        [style.border-color]=" resetForm.get('email')?.errors && (resetForm.get('email')?.touched || resetForm.get('email')?.dirty) ? '#D81616' : ''" type="text" formControlName="email"
                      />
                      <span class="text-danger fs-13" *ngIf="resetForm.get('email')?.errors && (resetForm.get('email')?.touched || resetForm.get('email')?.dirty)">
                        <span *ngIf="resetForm.get('email')?.errors?.['required']">Email is required</span>
                      <span *ngIf="resetForm.get('email')?.errors?.['pattern']">Invalid email address</span>
                      </span>
                    </div>
  
                    <div class="form-outline mb-4">
                      <label class="form-label" for="newPasswordInput">New Password</label>
                      <input
                        id="newPasswordInput"
                        class="form-control"
                        placeholder="New Password"
                        [style.border-color]=" resetForm.get('password')?.errors && (resetForm.get('password')?.touched || resetForm.get('password')?.dirty) ? '#D81616' : ''"
                        type="password"
                        formControlName="password"
                      />
                      <span class="text-danger fs-13" *ngIf="resetForm.get('password')?.errors && (resetForm.get('password')?.touched || resetForm.get('password')?.dirty)">
                        <span *ngIf="resetForm.get('password')?.errors?.['required']">Password is required</span>
                        <span *ngIf="resetForm.get('password')?.errors?.['pattern']">Accept numbers, alphabet (Upper & Lower Case), and symbols only.</span>
                        <span *ngIf="resetForm.get('password')?.errors?.['minlength']">Minimum of 8 characters only.</span>
                      </span>
                    </div>
                    <!-- just trying to git ignore -->
                    <div class="form-outline mb-4">
                      <label class="form-label" for="confirmPasswordInput">Confirm Password</label>
                      <input
                        id="confirmPasswordInput"
                        class="form-control"
                        placeholder="Confirm Password"
                        [style.border-color]=" resetForm.get('confirmPassword')?.errors && (resetForm.get('confirmPassword')?.touched || resetForm.get('confirmPassword')?.dirty) ? '#D81616' : ''"
                        type="password"
                        formControlName="confirmPassword"
                      />
                      <span class="text-danger fs-13" *ngIf="resetForm.get('confirmPassword')?.errors && (resetForm.get('confirmPassword')?.touched || resetForm.get('confirmPassword')?.dirty)">
                        <span *ngIf="resetForm.get('confirmPassword')?.errors?.['required']">Confirm Password is required</span>
                        <span *ngIf="resetForm.hasError('passwordMismatch')">Passwords do not match.</span>
                        <!-- <span *ngIf="resetForm.get('confirmPassword')?.errors?.['confirmedValidator']">Passwords must match.</span> -->
                      </span>
                    </div>
                    
  
                    <!-- <div class="col-8">
                      <div class="custom-control custom-checkbox primary-checkbox mr-sm-2">
                          <input type="checkbox" class="custom-control-input" id="customControlAutosizing" formControlName="rememberMe">
                          <label class="custom-control-label" for="customControlAutosizing">Remember Me</label>
                      </div>
                  </div> -->
  
                    <div class="text-center pt-1 mb-5 pb-1">
                      <button
                        class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3"
                        type="button"
                        (click)="resetPassword()" type="submit"  [disabled]="!resetForm.valid"
                      >
                        Reset Password
                      </button>
                      <!-- <a class="text-muted" routerLink="/forgot-password">Forgot password?</a> -->
                    </div>
  
           
                  </form>
                </div>
              </div>
              <div class="col-lg-6 d-flex align-items-center gradient-custom-2" *ngIf="!isMobileScreen">
                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                  <h4 class="mb-4">We are more than just a company</h4>
                  <p class="small mb-0">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  