<div class="modal fade" id="exampleModalLong">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">User Details</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row mb-3">
              <div class="col-md-12">
                <h5><i class="fa fa-envelope"></i> Email</h5>
                <p>{{ selectedDetails?.email }}</p>
              </div>
            </div>
  
            <div class="row mb-3">
              <div class="col-md-6">
                <h5><i class="fa fa-user-plus"></i> First Name</h5>
                <p>{{ selectedDetails?.firstName }}</p>
              </div>
              <div class="col-md-6">
                <h5><i class="fa fa-user-plus"></i> Last Name</h5>
                <p>{{ selectedDetails?.lastName }}</p>
              </div>
            </div>
  
            <div class="row">
              <div class="col-md-6">
                <h5><i class="fa fa-building"></i> Merchant Name</h5>
                <p>{{ selectedDetails?.merchantName }}</p>
              </div>
  
              <div class="col-md-6">
                <h5><i class="fa fa-cogs"></i> Roles</h5>
                <p>{{ selectedDetails?.roles }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-end">
       
        </div>
      </div>
    </div>
  </div>
  
  



<!-- update modal -->
<div class="modal fade" id="exampleModalLong2">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel2">
            <i class="fa fa-user-edit"></i> Update User
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col">
                <h5><i class="fa fa-envelope"></i> Email</h5>
                <input
                  type="text"
                  [(ngModel)]="selectedDetails && selectedDetails.email"
                  class="form-control"
                />
              </div>
            </div>
  
            <div class="row">
              <div class="col-md-6 mb-0">
                <h5><i class="fa fa-user"></i> First Name</h5>
                <input
                  type="text"
                  [(ngModel)]="selectedDetails && selectedDetails.firstName"
                  [ngModelOptions]="{ standalone: true }"
                  class="form-control"
                />
              </div>
              <div class="col-md-6">
                <h4><i class="fa fa-user"></i> Last Name</h4>
                <input
                  type="text"
                  [(ngModel)]="selectedDetails && selectedDetails.lastName"
                  [ngModelOptions]="{ standalone: true }"
                  class="form-control"
                />
              </div>
            </div>
  
            <div class="row">
              <div class="col-md-6">
                <h5><i class="fa fa-building"></i> Merchant Name</h5>
                <input
                  type="text"
                  [(ngModel)]="selectedDetails && selectedDetails.merchantName"
                  [ngModelOptions]="{ standalone: true }"
                  class="form-control"
                />
              </div>
  
              <div class="col-md-6">
                <h5><i class="fa fa-cogs"></i> Roles</h5>
                <select
                  [(ngModel)]="selectedDetails && selectedDetails.roles"
                  [ngModelOptions]="{ standalone: true }"
                  class="form-control"
                >
                  <option value="">Select a role</option>
                  <option
                    *ngFor="let role of role?.roles"
                    [value]="role.name"
                  >
                    {{ role.name }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-between">
          <button
            type="button"
            class="btn btn-secondary btn-close"
            data-dismiss="modal"
          >
            <i class="fa fa-times"></i> Close
          </button>
          <button
            type="button"
            class="btn btn-primary"
            (click)="updateUser()"
          >
            <i class="fa fa-save"></i> Save Changes
          </button>
        </div>
      </div>
    </div>
  </div>
  


