<div class="col-lg-6 stretched_card mt-mob-4">
    <div class="">
        <div class="">

            <div class="modal fade" id="exampleLongModalLongg">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Create User</h5>
                            <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <form [formGroup]="passwordForm" class="custom-form">

                                <div class="form-group">
                                  <label>User Type</label>
                                  <div>
                                    <label class="radio-label">
                                      <input type="radio" formControlName="userType" value="user"> User
                                    </label>
                                    <label class="radio-label">
                                      <input type="radio" formControlName="userType" value="admin"> Admin
                                    </label>
                                  </div>
                                </div>
                                
                                <!-- User Form -->
                                <div *ngIf="passwordForm.get('userType')?.value === 'user'">
                                  <div class="form-group">
                                    <label for="firstName">Username</label>
                                    <input type="text" id="firstName" class="form-control" formControlName="userName">
                                  </div>
                                  <div class="form-group">
                                          
                                    <label class="form-label" for="newPasswordInput">New Password</label>
                                    <input
                                      id="newPasswordInput"
                                      class="form-control"
                                     
                                      [style.border-color]=" passwordForm.get('password')?.errors && (passwordForm.get('password')?.touched || passwordForm.get('password')?.dirty) ? '#D81616' : ''"
                                      type="password"
                                      formControlName="newPassword"
                                    />
                                    <span class="text-danger fs-13" *ngIf="passwordForm.get('password')?.errors && (passwordForm.get('password')?.touched || passwordForm.get('password')?.dirty)">
                                      <span *ngIf="passwordForm.get('password')?.errors?.['required']">Password is required</span>
                                      <span *ngIf="passwordForm.get('password')?.errors?.['pattern']">Accept numbers, alphabet (Upper & Lower Case), and symbols only.</span>
                                      <span *ngIf="passwordForm.get('password')?.errors?.['minlength']">Minimum of 8 characters only.</span>
                                    </span>
                                
                            </div>
                                  <div class="form-group">
                                    <label class="form-label" for="confirmPasswordInput">Confirm Password</label>
                                    <input
                                      id="confirmPasswordInput"
                                      class="form-control"
                                      placeholder="Confirm Password"
                                      [style.border-color]=" passwordForm.get('confirmPassword')?.errors && (passwordForm.get('confirmPassword')?.touched || passwordForm.get('confirmPassword')?.dirty) ? '#D81616' : ''"
                                      type="password"
                                      formControlName="confirmPassword"
                                    />
                                    <span class="text-danger fs-13" *ngIf="passwordForm.get('confirmPassword')?.errors && (passwordForm.get('confirmPassword')?.touched || passwordForm.get('confirmPassword')?.dirty)">
                                      <span *ngIf="passwordForm.get('confirmPassword')?.errors?.['required']">Confirm Password is required</span>
                                      <span *ngIf="passwordForm.hasError('passwordMismatch')">Passwords do not match.</span>
                                      <!-- <span *ngIf="resetForm.get('confirmPassword')?.errors?.['confirmedValidator']">Passwords must match.</span> -->
                                    </span>
                                  </div>
                                </div>
                                
                                <!-- Admin Form -->
                                <div *ngIf="passwordForm.get('userType')?.value === 'admin'">
                                    <div class="form-group">
                                        <label for="firstName">Current Password</label>
                                        <input type="text" id="firstName" class="form-control" formControlName="currentPassword">
                                      </div>
                                      <div class="form-group">
                                          
                                        <label class="form-label" for="newPasswordInput">New Password</label>
                                        <input
                                          id="newPasswordInput"
                                          class="form-control"
                                         
                                          [style.border-color]=" passwordForm.get('password')?.errors && (passwordForm.get('password')?.touched || passwordForm.get('password')?.dirty) ? '#D81616' : ''"
                                          type="password"
                                          formControlName="newPassword"
                                        />
                                        <span class="text-danger fs-13" *ngIf="passwordForm.get('password')?.errors && (passwordForm.get('password')?.touched || passwordForm.get('password')?.dirty)">
                                          <span *ngIf="passwordForm.get('password')?.errors?.['required']">Password is required</span>
                                          <span *ngIf="passwordForm.get('password')?.errors?.['pattern']">Accept numbers, alphabet (Upper & Lower Case), and symbols only.</span>
                                          <span *ngIf="passwordForm.get('password')?.errors?.['minlength']">Minimum of 8 characters only.</span>
                                        </span>
                                    
                                </div>
                                      <div class="form-group">
                                        <label class="form-label" for="confirmPasswordInput">Confirm Password</label>
                                        <input
                                          id="confirmPasswordInput"
                                          class="form-control"
                                          placeholder="Confirm Password"
                                          [style.border-color]=" passwordForm.get('confirmPassword')?.errors && (passwordForm.get('confirmPassword')?.touched || passwordForm.get('confirmPassword')?.dirty) ? '#D81616' : ''"
                                          type="password"
                                          formControlName="confirmPassword"
                                        />
                                        <span class="text-danger fs-13" *ngIf="passwordForm.get('confirmPassword')?.errors && (passwordForm.get('confirmPassword')?.touched || passwordForm.get('confirmPassword')?.dirty)">
                                          <span *ngIf="passwordForm.get('confirmPassword')?.errors?.['required']">Confirm Password is required</span>
                                          <span *ngIf="passwordForm.hasError('passwordMismatch')">Passwords do not match.</span>
                                          <!-- <span *ngIf="resetForm.get('confirmPassword')?.errors?.['confirmedValidator']">Passwords must match.</span> -->
                                        </span>
                                      </div>
                                    
                                    
                                </div>
                              
                              </form>
                              
                              
                        </div>
                        <div class="modal-footer">
                            <button type="button" (click)="submitForm()" class="btn btn-primary">Create User</button>
                            <button type="button" class="btn btn-light btn-close" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>