<!-- 
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#passwordModal">
    Open Password Modal
  </button> -->

<ngx-spinner
  bdColor="rgba(0,0,0,0.5)"
  size="medium"
  color="#d81616"
  type="ball-clip-rotate"
  [fullScreen]="true"
></ngx-spinner>

<div
  class="modal fade"
  id="passwordModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="passwordModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="passwordModalLabel">Password Reset</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="dropdown mb-2">
          <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            id="passwordFormTypeDropdown"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Select User type
          </button>
          <div class="dropdown-menu" aria-labelledby="passwordFormTypeDropdown">
            <a class="dropdown-item" (click)="selectedPasswordFormType = 'user'"
              >User Password</a
            >
            <a
              class="dropdown-item"
              (click)="selectedPasswordFormType = 'admin'"
              >Admin Password</a
            >
          </div>
        </div>
        <div *ngIf="selectedPasswordFormType === 'user'">
         
          <form [formGroup]="passwordForm" class="custom-form">
            <div>

              <div class="form-group">
                <label for="username">Username</label>
                <input
                style="cursor: not-allowed;"
                  type="text"
                  id="username"
                  [(ngModel)]="selectedDetails && selectedDetails.username"
                  [ngModelOptions]="{ standalone: true }"
                  class="form-control"
                  readonly
                />
              </div>
            
              <div class="form-group">
                <label class="form-label" for="newPasswordInput"
                  >New Password</label
                >
                <input
                  id="newPasswordInput"
                  class="form-control"
                  [style.border-color]="
                    passwordForm.get('password')?.errors &&
                    (passwordForm.get('password')?.touched ||
                      passwordForm.get('password')?.dirty)
                      ? '#D81616'
                      : ''
                  "
                  type="password"
                  formControlName="password"
                />
                <span
                  class="text-danger fs-13"
                  *ngIf="
                    passwordForm.get('password')?.errors &&
                    (passwordForm.get('password')?.touched ||
                      passwordForm.get('password')?.dirty)
                  "
                >
                  <span
                    *ngIf="passwordForm.get('password')?.errors?.['required']"
                    >Password is required</span
                  >
                  <span
                    *ngIf="passwordForm.get('password')?.errors?.['pattern']"
                    >Accept numbers, alphabet (Upper & Lower Case), and symbols
                    only.</span
                  >
                  <span
                    *ngIf="passwordForm.get('password')?.errors?.['minlength']"
                    >Minimum of 8 characters only.</span
                  >
                </span>
              </div>
              <div class="form-group">
                <label class="form-label" for="confirmPasswordInput"
                  >Confirm Password</label
                >
                <input
                  id="confirmPasswordInput"
                  class="form-control"
                  placeholder="Confirm Password"
                  [style.border-color]="
                    passwordForm.get('confirmPassword')?.errors &&
                    (passwordForm.get('confirmPassword')?.touched ||
                      passwordForm.get('confirmPassword')?.dirty)
                      ? '#D81616'
                      : ''
                  "
                  type="password"
                  formControlName="confirmPassword"
                />
                <span
                  class="text-danger fs-13"
                  *ngIf="
                    passwordForm.get('confirmPassword')?.errors &&
                    (passwordForm.get('confirmPassword')?.touched ||
                      passwordForm.get('confirmPassword')?.dirty)
                  "
                >
                  <span
                    *ngIf="passwordForm.get('confirmPassword')?.errors?.['required']"
                    >Confirm Password is required</span
                  >
                  <span *ngIf="passwordForm.hasError('passwordMismatch')"
                    >Passwords do not match.</span
                  >
                </span>
              </div>
            </div>

            <!-- Common form controls -->

            <!-- others -->
          </form>
        </div>
        <div *ngIf="selectedPasswordFormType === 'admin'">
          <form [formGroup]="adminPasswordForm" class="custom-form">
            <div>
              <div class="form-group">
                <label for="currentPassword">Current Password</label>
                <input
                  type="password"
                  id="currentPassword"
                  class="form-control"
                  formControlName="currentPassword"
                />
              </div>
              <!-- Other admin form controls -->
              <div class="form-group">
                <label class="form-label" for="newPasswordInput"
                  >New Password</label
                >
                <input
                  id="newPasswordInput"
                  class="form-control"
                  [style.border-color]="
                    passwordForm.get('password')?.errors &&
                    (passwordForm.get('password')?.touched ||
                      passwordForm.get('password')?.dirty)
                      ? '#D81616'
                      : ''
                  "
                  type="password"
                  formControlName="password"
                />
                <span
                  class="text-danger fs-13"
                  *ngIf="
                    passwordForm.get('password')?.errors &&
                    (passwordForm.get('password')?.touched ||
                      passwordForm.get('password')?.dirty)
                  "
                >
                  <span
                    *ngIf="passwordForm.get('password')?.errors?.['required']"
                    >Password is required</span
                  >
                  <span
                    *ngIf="passwordForm.get('password')?.errors?.['pattern']"
                    >Accept numbers, alphabet (Upper & Lower Case), and symbols
                    only.</span
                  >
                  <span
                    *ngIf="passwordForm.get('password')?.errors?.['minlength']"
                    >Minimum of 8 characters only.</span
                  >
                </span>
              </div>
              <div class="form-group">
                <label class="form-label" for="confirmPasswordInput"
                  >Confirm Password</label
                >
                <input
                  id="confirmPasswordInput"
                  class="form-control"
                
                  [style.border-color]="
                    passwordForm.get('confirmPassword')?.errors &&
                    (passwordForm.get('confirmPassword')?.touched ||
                      passwordForm.get('confirmPassword')?.dirty)
                      ? '#D81616'
                      : ''
                  "
                  type="password"
                  formControlName="confirmPassword"
                />
                <span
                  class="text-danger fs-13"
                  *ngIf="
                    passwordForm.get('confirmPassword')?.errors &&
                    (passwordForm.get('confirmPassword')?.touched ||
                      passwordForm.get('confirmPassword')?.dirty)
                  "
                >
                  <span
                    *ngIf="passwordForm.get('confirmPassword')?.errors?.['required']"
                    >Confirm Password is required</span
                  >
                  <span *ngIf="passwordForm.hasError('passwordMismatch')"
                    >Passwords do not match.</span
                  >
                </span>
              </div>
            </div>

            <!-- Common form controls -->

            <!-- others -->
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="onSubmit()" class="btn btn-primary">
          Reset password
        </button>
        <button
          type="button"
          class="btn btn-light btn-close"
          data-dismiss="modal"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
