
       /* Custom file upload styling */
       .file-upload {
        position: relative;
        overflow: hidden;
        display: inline-block;
      }
  
      .file-upload input[type="file"] {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
      }
  
      .file-upload .custom-file-uploaded {
        display: inline-block;
        padding: 10px 20px;
        background: #000;
        color: #fff;
        cursor: pointer;
        border-radius: 4px;
        font-weight: bold;
        transition: all 0.3s ease-in-out;
      }
  
      .file-upload .custom-file-uploaded:hover {
        background: #0069d9;
      }
  
      .file-name {
        margin-top: 5px;
      }

      .loader {
        border: 4px solid #f3f3f3; /* Light grey */
        border-top: 4px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 20px;
        height: 20px;
        animation: spin 2s linear infinite; /* Add a spinning animation */
      }
      
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
      